RASP_PORT=8000
FRONTEND_PORT=8888
BACKEND_PORT=8889


# SERVER
RASP_ADDRESS=XXX.XXX.XXX.XXX:8000
DISCORD_WEBHOOK=https://discord.com/api/webhooks/XXX
DISCORD_UNAVAILABLE_ALERT=False
CONSECUTIVE_OFFLINE_REQUIRED=1
DISCORD_ALERT_WHEN_CAT=True
DISCORD_ALERT_CPU_TEMPERATURE=False
CPU_TEMPERATURE_ALERT_LEVEL=80

YOLO_MODEL=yolov8m-seg.pt
PULLING_INTERVAL=3
CAT_TOLERANCE=0.1
IOU_TOLERANCE=0.2
PUMP_DURATION=5
CONSECUTIVE_REQUIRED=2
PUMP_COOLDOWN=1
MIN_BRIGHTNESS=40